/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
*{
    font-family: 'Open Sans', sans-serif;
}

/* MAIN */
.background-main{
    background-color: black;
    width: 100%;
    height: calc(100vh - 60px);
}

.main-top{
    text-align: right;
    padding-bottom: 20px;
}

.main-top .icons-top{
    padding: 5px;
}

.main-top .icons-top > *{
    margin-left: 5px;
}


.main-top .icons-top *{
    color: white;
    background-color: #4A4A4A;
    padding: 2px;
    border-radius: 6px;
}

.main-core{
    max-width: 1200px;
    margin: 0 auto;
}

main .my-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col{
    width: calc((100% / 7) - 4px);
    border: 1px solid white;
    position: relative;
    margin: 2px;
}

.col img{
    width: 100%;
    display: block;
}

.col .user{
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    position:absolute;
    bottom: 0;
    left: 0; 
}

/* FOOTER */

footer{
    background-color: #222222;
    color: white;
    height: 60px;
}

footer .my-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col-footer{
    display: flex;
    align-items: center;
}


footer .col-footer div{
    text-align: center;
    padding: 0 10px;
}

footer .col-footer i{
    font-size: 20px;
}

footer .col-footer .chevron *{
    font-size: 10px;
}

.my-rows .col-1{
    width: 15%;

}

.my-rows .col-2{
    width: 70%;
    justify-content: space-between;
}

.col-3{
    color: red;
    font-weight: bold;
    background-color: #4A4A4A;
    padding: 20px;
}

#video, #mic{
    margin-right: 0;
}

#share-screen{
    color: green;
}
